<li id=<%= dom_id(@survey) %> class="flex items-center justify-between py-2 border-b">
  <div>
    <span class="font-medium"><%= @survey.question %></span>
    <span class="ml-4 text-sm text-gray-500">
      Yes: <%= stats[:yes] %>%  |  No: <%= stats[:no] %>%
    </span>
  </div>

  <%= link_to "Answer", answer_survey_path(@survey), data: {turbo_stream: true}, class: "btn btn-sm btn-primary" %>
</li>                            
